@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Haas Grot Text R';
  font-style: normal;
  font-weight: 400;
  src: url('./shared/fonts/NeueHaasGrotDispRound-55Roman.otf')
  format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Haas Grot Text R';
  font-style: normal;
  font-weight: 500 600;
  src: url('./shared/fonts/NeueHaasGrotDispRound-65Medium.otf')
  format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Haas Grot Text R';
  font-style: normal;
  font-weight: 700;
  src: url('./shared/fonts/NeueHaasGrotDispRound-75Bold.otf')
  format('opentype');
  font-display: swap;
}

:root {
  /*=======================*/
  /* Layout */
  --background: #F0F2F5;

  /*=======================*/
  /* Primary Colors */
  --primary-10: #F9FAFB;
  --primary-11: #17212B;
  --primary-12: #0C131A26;
  --primary-13: #7A899A;
  --primary-14: #7A8A99;
  --primary-15: #FFFFFF;
  --primary-16: #D6DFE8;
  --primary-17: #CED1D4;
  --primary-18: #F0F2F5;
  --primary-20: #e4e5e9;

  /*=======================*/
  /* Card Colors */
  --card-header: #F9FAFC;
  --card-content: #FFFFFF;

  /*=======================*/
  /* Secondary Colors */
  --secondary-10: #17212B;
  --secondary-11: #E5E7EA;
  --secondary-12: #E5E7EA;
  --secondary-13: #0C131A26;
  --secondary-14: #F0F2F5;
  --secondary-15: #17212B26;
  --secondary-16: #E5E7EA;
  --secondary-17: #F9FAFB;
  --secondary-18: #F9FAFB26;
  --secondary-19: #17212B26;
  --secondary-20: #6D7E8F;
  --secondary-21: #CDD3D9;
  --secondary-22: #F0F2F5;
  --secondary-23: #17212B24;
  --secondary-24: #D8DFE5;
  --secondary-25: #19232E;
  --secondary-26: #AFBBC780;
  --secondary-27: #F0F2F5;
  --secondary-28: #516070;
  --secondary-29: #17212B26;
  --secondary-30: #AFBBC780;
  --secondary-31: #F0F2F5;
  --secondary-32: #BABBCB;
  --secondary-33: #7A8A99;
  --secondary-35: #17212B08;
  --secondary-36: #FFFFFF;
  --secondary-37: #CCCCCC;
  --secondary-38: #F0F2F5;
  --secondary-39: #17212B26;
  --secondary-40: #CACED3;
  --secondary-41: #516070;
  --secondary-42: #17212B;
  --secondary-43: #FFFFFF;

  /*=======================*/
  /* Success Colors */
  --success-10: #00C088;
  --success-11: #00C289;
  --success-12: #00C2891A;
  --success-13: #00AD79;

  /*=======================*/
  /* Error Colors */
  --red-10: #F54E591A;
  --red-11: #F54E59;

  /*=======================*/
  /* Custom Colors */
  --custom-trigger: #f1f2f6;
}

.dark {
  /*=======================*/
  /* Layout */
  --background: #0D131A;

  --blur-background: #AFBBC780;

  /*=======================*/
  /* Primary Colors */
  --primary-10: #1B2631;
  --primary-11: #F9FAFB;
  --primary-12: #151E27;
  --primary-13: #7A899A;
  --primary-14: #7A8A99;
  --primary-15: #1D2833;
  --primary-16: #2B3946;
  --primary-17: #F9FAFB26;
  --primary-18: #17212B;
  --primary-19: #F9FAFB;
  --primary-20: #17212B;

  /*=======================*/
  /* Card Colors */
  --card-header: #17212B;
  --card-content: #1E2832;

  /*=======================*/
  /* Secondary Colors */
  --secondary-10: #FFFFFF;
  --secondary-11: #181E25;
  --secondary-12: #151E27;
  --secondary-13: #F9FAFB26;
  --secondary-14: #2B3947;
  --secondary-15: #1D2833;
  --secondary-16: #2B3947;
  --secondary-17: #2B3947;
  --secondary-18: #F9FAFB26;
  --secondary-19: #F9FAFB26;
  --secondary-20: #FFFFFF;
  --secondary-21: #32404D;
  --secondary-22: #151E27;
  --secondary-23: #FFFFFF24;
  --secondary-24: #2B3947;
  --secondary-25: #FFF;
  --secondary-26: #AFBBC780;
  --secondary-27: #17212B;
  --secondary-28: #FFF;
  --secondary-29: #2B3947;
  --secondary-30: #1D283380;
  --secondary-31: #17212B80;
  --secondary-32: #516070;
  --secondary-33: #516070;
  --secondary-35: #17212B;
  --secondary-36: #1D2833;
  --secondary-37: #7A8A99;
  --secondary-38: #151E27;
  --secondary-39: #FFFFFF26;
  --secondary-40: #0D131A;
  --secondary-41: #FFFFFF;
  --secondary-42: #FFFFFF;
  --secondary-43: #7A8A99;

  /*=======================*/
  /* Success Colors */
  --success-10: #00C088;
  --success-11: #00C289;
  --success-12: #00C2891A;
  --success-13: #00AD79;

  /*=======================*/
  /* Error Colors */
  --red-10: #F54E591A;
  --red-11: #F54E59;

  /*=======================*/
  /* Custom Colors */
  --custom-trigger: #17212b;
}

@theme inline {
  /*=======================*/
  /* Shadows */
  --shadow-10: 0 0 12px 0 #0000000D;
  --shadow-11: 0px 1px 3px 0px #00000040, 0px 1px 1px 0px #00000040, 0px 2px 1px -1px #00000040;
  --shadow-12: 0px 8px 20px 0px #0D131A0A, 0px 2px 12px 0px #0D131A05;
  --shadow-13: inset 0 0 0 0.25px #F9FAFB26;
  --shadow-14: inset 0 0 0 0.25px #0C131A26;

  --shadow-15: inset 0 0px 0 0.25px var(--secondary-39);

  /*=======================*/
  /* Layout */
  --color-background: var(--background);

  /*=======================*/
  /* Primary Colors */
  --color-primary-10: var(--primary-10);
  --color-primary-11: var(--primary-11);
  --color-primary-12: var(--primary-12);
  --color-primary-13: var(--primary-13);
  --color-primary-14: var(--primary-14);
  --color-primary-15: var(--primary-15);
  --color-primary-16: var(--primary-16);
  --color-primary-17: var(--primary-17);
  --color-primary-18: var(--primary-18);
  --color-primary-19: var(--primary-19);
  --color-primary-20: var(--primary-20);

  /*=======================*/
  /* Card Colors */
  --color-card-header: var(--card-header);
  --color-card-content: var(--card-content);

  /*=======================*/
  /* Secondary Colors */
  --color-secondary-10: var(--secondary-10);
  --color-secondary-11: var(--secondary-11);
  --color-secondary-12: var(--secondary-12);
  --color-secondary-13: var(--secondary-13);
  --color-secondary-14: var(--secondary-14);
  --color-secondary-15: var(--secondary-15);
  --color-secondary-16: var(--secondary-16);
  --color-secondary-17: var(--secondary-17);
  --color-secondary-18: var(--secondary-18);
  --color-secondary-19: var(--secondary-19);
  --color-secondary-20: var(--secondary-20);
  --color-secondary-21: var(--secondary-21);
  --color-secondary-22: var(--secondary-22);
  --color-secondary-23: var(--secondary-23);
  --color-secondary-24: var(--secondary-24);
  --color-secondary-25: var(--secondary-25);
  --color-secondary-26: var(--secondary-26);
  --color-secondary-27: var(--secondary-27);
  --color-secondary-28: var(--secondary-28);
  --color-secondary-29: var(--secondary-29);
  --color-secondary-30: var(--secondary-30);
  --color-secondary-31: var(--secondary-31);
  --color-secondary-32: var(--secondary-32);
  --color-secondary-33: var(--secondary-33);
  --color-secondary-35: var(--secondary-35);
  --color-secondary-36: var(--secondary-36);
  --color-secondary-37: var(--secondary-37);
  --color-secondary-38: var(--secondary-38);
  --color-secondary-39: var(--secondary-39);
  --color-secondary-40: var(--secondary-40);
  --color-secondary-41: var(--secondary-41);
  --color-secondary-42: var(--secondary-42);
  --color-secondary-43: var(--secondary-43);

  /*=======================*/
  /* Success Colors */
  --color-success-10: var(--success-10);
  --color-success-11: var(--success-11);
  --color-success-12: var(--success-12);
  --color-success-13: var(--success-13);

  /*=======================*/
  /* Error Colors */
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);

  /*=======================*/
  /* Custom Colors */
  --color-custom-trigger: var(--custom-trigger);

  /*=======================*/
  /* Static Colors */
  --color-white-10: #FFFFFF;
  --color-white-11: #D8DFE5;
  --color-gray-10: #2B3947;
  --color-gray-11: #516070;
  --color-gray-12: #17212B;

  /*=======================*/
  /* Decorative Colors */
  --color-bluish-purple: #6F42EB;
  --color-dodger-blue: #3877FF;
  --color-aqua-green: #00D395;
  --color-orangy-red: #F54E59;
  --color-peach: #FFA374;
  --color-pale-canary: #F9FF8E;
  --color-blue-lagoon: #8FE6FE;
  --color-dull-lavender: #B39AFF;
  --color-soft-pink: #FDB0C0;
  --color-slime-green: #BCE954;
  --color-bluish-green: #10A674;
  --color-faded-blue: #5C8BC4;
  --color-saffron-mango: #F6C642;
  --color-bluish-cyan: #02CCFE;
  --color-light-taupe: #BC8F6F;
  --color-tealish-blue: #7A89B8;
  --color-burning-orange: #FF752E;
  --color-hot-pink: #FAB3FF;
  --color-greenish-cyan: #58F0C5;
  --color-grey-teal: #62B1FF;
}

@layer base {
  * {
    font-size: 1rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-primary-11;

    font-family: 'Haas Grot Text R', sans-serif;
  }
}

/*=======================*/
/* Scrollbar Styles */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.highcharts-container .highcharts-background  {
  fill: transparent;
}

.disable-scroll-vertical {
  overflow: hidden !important;

  overscroll-behavior: none;

  touch-action: none;
}

html, body {
  -ms-overflow-style: none;      /* IE и Edge */
  scrollbar-width: none;         /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-10;

  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-12;

  border-radius: 18px;
}