@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /*=======================*/
  /* Colors */
  --color-bluish-purple: #6F42EB;
  --color-dodger-blue: #3877FF;
  --color-aqua-green: #00D395;
  --color-orangy-red: #F54E59;
  --color-peach: #FFA374;
  --color-pale-canary: #F9FF8E;
  --color-blue-lagoon: #8FE6FE;
  --color-dull-lavender: #B39AFF;
  --color-soft-pink: #FDB0C0;
  --color-slime-green: #BCE954;
  --color-bluish-green: #10A674;
  --color-faded-blue: #5C8BC4;
  --color-saffron-mango: #F6C642;
  --color-bluish-cyan: #02CCFE;
  --color-light-taupe: #BC8F6F;
  --color-tealish-blue: #7A89B8;
  --color-burning-orange: #FF752E;
  --color-hot-pink: #FAB3FF;
  --color-greenish-cyan: #58F0C5;
  --color-grey-teal: #62B1FF;

  --color-background: var(--background);

  /* Primary */
  --color-primary-10: var(--primary-10);
  --color-primary-12: var(--primary-12);
}

:root {
  /*=======================*/
  /* Colors */
  --background: #F0F2F5;

  /* Primary */
  --primary-10: #F9FAFB;
  --primary-12: #0C131A26;
}

.dark {
  /*=======================*/
  /* Colors */
  --background: #0D131A;

  /* Primary */
  --primary-10: #1B2631;
  --primary-12: #151E27;
}

@layer base {
  * {
    font-size: 1rem;

    font-weight: 400;

    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-10;

  border-radius: 18px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-12;

  border-radius: 18px;
}